body {
    font-size: 16px;
    font-family: Helvetica-FF, Arial, Tahoma, sans-serif;
    padding-top: 60px;
}

.container,
.container-fluid {
    padding-left: 13px;
    padding-right: 13px;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin-bottom: 5px;
}

.sticky-top {
    top: 60px;
}

/* Image Header */
.header_logo img {
    min-height: auto;
    width: 265px;
}

/* main navbar */
.navbar,
.fixed-top {
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}


.offcanvas.offcanvas-start {
    top: 58px;
}

.offcanvas-backdrop {
    top: 58px;
    background-color: rgba(0, 0, 0, 0.01);
}

.text-menu {
    font-weight: bold;
    color: #5b5b5b;
    font-size: 16px;
    margin-left: 45px;
}

h3 {
    text-decoration: none;
}

.btn-register {
    background-color: #244B9C;
    border: 3px solid #244B9C;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}


.btn-masuk {
    background-color: transparent;
    border: 3px solid #244B9C;
    border-radius: 50px;
    color: #244B9C;
    font-size: 16px;
    font-weight: 600;
}

/* navbar first,second */
.navbar-first,
.navbar-second {
    padding: 5px;
}

.navbar-brand {
    padding: 3px;
    display: block;
    margin: 0px;
    padding-right: 10px;
}

.navbar-first {
    background: linear-gradient(100deg, #21589a 50%, #007cbd 100%);
    border-radius: 4px;
}

.navbar-second {
    background: #f0f0f0;
    border-radius: 4px;
}

.navbar-first .nav-link,
.navbar-second .nav-link {
    font-size: 15px;
    font-weight: 600;
    padding: 8px;
}

.navbar-first .nav-link {
    color: #FFFFFF;
}

.navbar-second .nav-link {
    color: black;
}

/* artikel */
.card {
    border: 0px;
}

.artikel-sub .card-img-top {
    width: 100%;
    height: 120px;
    object-fit: cover;

}

.artikel-sub p {
    font-weight: bold;
}

.artikel .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.artikel .card-body {
    background: linear-gradient(100deg, #21589a 50%, #007cbd 100%);
    color: white;
}

.artikel .card-title {
    font-size: 22px;
    font-weight: bold;
}

.artikel .card-text {
    color: whitesmoke;
}

.btn-artikel {
    background-color: #ef672f;
    border: #ef672f;
    font-weight: 600;
}

.btn-artikel:hover {
    background-color: #ef672f;
}

/* sidemenu */
.sidemenu {
    font-weight: 600;
    line-height: 1.3;
    padding-left: 10px;
}

.sidemenu ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

.sidemenu li:before {
    content: "#";
    padding-right: 5px;
    margin-right: 3px;
    color: grey;
}

.tag {
    font-size: 18px;
    font-weight: 600;
    color: #083AA9;
}

.suara-pembaca {
    background-color: #e3f5fe;
    font-size: 12px;
    border-radius: 4px;
    padding: 10px;
}

.btn-suara {
    background-color: #ef672f;
    border: #ef672f;
    font-size: 12px;
    font-weight: 600;
}

.btn-suara:hover {
    background-color: #ef672f;
}

/* footer */
footer {
    background-color: #f0f0f0;
    padding: 20px;
}

.footerInfo img {
    width: 200px;
    padding-bottom: 5px;
}

.sosmed p {
    margin-top: 15px;
    font-size: 16px;
}

.sosmed .fb {
    font-size: 28px;
    margin: 2px;
}

.footerMenu h4 {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.footerMenu ul {
    font-size: 12px;
    color: #333333;
    list-style-type: none;
    padding: 0px;
    font-weight: bold;
}

/* hamburger */
.hamburger-button {
    position: relative;
    transition: .3s ease-in-out;
    width: 35px;
    height: 20px;
}

.hamburger-button,
a {
    text-decoration: none;
}

.hamburger-button span {
    position: absolute;
    height: 2px;
    border-radius: 4px;
    width: 100%;
    background-color: #3D4146;
    top: 0;
    transition: transform .1s ease-in-out, opacity .1s ease-in-out;
}

.hamburger-button span:nth-child(1) {
    top: 0px;
}

.hamburger-button span:nth-child(2),
.hamburger-button span:nth-child(3) {
    top: 10px;
}

.hamburger-button span:nth-child(4) {
    top: 20px;
}

/* Style the active state and create the cross. */
.hamburger-button.active span:nth-child(1),
.hamburger-button.active span:nth-child(4) {
    opacity: 0;
}

.hamburger-button.active span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-button.active span:nth-child(3) {
    transform: rotate(-45deg);
}
